<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app-rules</key>
	<dict>
		<key>com.apple.parsecd</key>
		<array>
			<string>8E012546-B652-3265-A3CD-CDD18560FA30</string>
		</array>
		<key>mobileassetd</key>
		<array>
			<string>CC181A76-AB63-3F04-B0E6-EF9AD151DA08</string>
		</array>
	</dict>
</dict>
</plist>
