<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DOSCodePage</key>
	<string>437</string>
	<key>LocalKerberosRealm</key>
	<string>LKDC:SHA1.86BE202052CC213754BBF4308C1E2995F74A12DF</string>
	<key>NetBIOSName</key>
	<string>pile-of-bones</string>
	<key>ServerDescription</key>
	<string>pile_of_bones</string>
</dict>
</plist>
