<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociationSSIDMap</key>
	<dict>
		<key>&lt;42544875 62362d4a 323335&gt;</key>
		<integer>1</integer>
		<key>{length = 11, bytes = 0x4254487562362d4a323335}</key>
		<integer>1</integer>
	</dict>
	<key>InternalAssociationSSIDMap</key>
	<dict>
		<key>&lt;42544875 62362d4a 323335&gt;</key>
		<integer>1</integer>
		<key>{length = 11, bytes = 0x4254487562362d4a323335}</key>
		<integer>1</integer>
	</dict>
	<key>LastSubmissionTimestamp</key>
	<date>2020-06-10T22:41:39Z</date>
	<key>PendingList</key>
	<array>
		<dict>
			<key>com.apple.message.adopted_country_code</key>
			<string>None</string>
			<key>com.apple.message.airport</key>
			<string>No</string>
			<key>com.apple.message.autojoin</key>
			<string>No</string>
			<key>com.apple.message.beacon_interval</key>
			<string>100</string>
			<key>com.apple.message.channel_frequency_band</key>
			<string>2.4GHz</string>
			<key>com.apple.message.channel_network_count</key>
			<string>8</string>
			<key>com.apple.message.channel_number</key>
			<string>1</string>
			<key>com.apple.message.channel_width</key>
			<string>20MHz</string>
			<key>com.apple.message.domain</key>
			<string>com.apple.wifi.association</string>
			<key>com.apple.message.duration</key>
			<string>6</string>
			<key>com.apple.message.error</key>
			<string>Invalid PMK</string>
			<key>com.apple.message.ht40_intolerant</key>
			<string>No</string>
			<key>com.apple.message.ibss</key>
			<string>No</string>
			<key>com.apple.message.ios_personal_hotspot</key>
			<string>No</string>
			<key>com.apple.message.network_country_code</key>
			<string>GB</string>
			<key>com.apple.message.noise</key>
			<string>0</string>
			<key>com.apple.message.oui</key>
			<string>bc:30:d9</string>
			<key>com.apple.message.passpoint</key>
			<string>No</string>
			<key>com.apple.message.phy_mode</key>
			<string>None</string>
			<key>com.apple.message.rssi</key>
			<string>-52</string>
			<key>com.apple.message.security_type</key>
			<string>None</string>
			<key>com.apple.message.snr</key>
			<string>-52</string>
			<key>com.apple.message.supports_cck_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_ht20</key>
			<string>Yes</string>
			<key>com.apple.message.supports_ht40</key>
			<string>No</string>
			<key>com.apple.message.supports_ht_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_ofdm_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_vht_rates</key>
			<string>Yes</string>
			<key>com.apple.message.supports_wep</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa2_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa2_personal</key>
			<string>Yes</string>
			<key>com.apple.message.supports_wpa_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa_personal</key>
			<string>No</string>
			<key>com.apple.message.swap</key>
			<string>No</string>
			<key>com.apple.message.wake_context</key>
			<string>FullWake</string>
		</dict>
		<dict>
			<key>com.apple.message.adopted_country_code</key>
			<string>None</string>
			<key>com.apple.message.airport</key>
			<string>No</string>
			<key>com.apple.message.autojoin</key>
			<string>No</string>
			<key>com.apple.message.beacon_interval</key>
			<string>100</string>
			<key>com.apple.message.channel_frequency_band</key>
			<string>2.4GHz</string>
			<key>com.apple.message.channel_network_count</key>
			<string>10</string>
			<key>com.apple.message.channel_number</key>
			<string>1</string>
			<key>com.apple.message.channel_width</key>
			<string>80MHz</string>
			<key>com.apple.message.domain</key>
			<string>com.apple.wifi.association</string>
			<key>com.apple.message.duration</key>
			<string>0</string>
			<key>com.apple.message.error</key>
			<string>No Error</string>
			<key>com.apple.message.ht40_intolerant</key>
			<string>No</string>
			<key>com.apple.message.ibss</key>
			<string>No</string>
			<key>com.apple.message.ios_personal_hotspot</key>
			<string>No</string>
			<key>com.apple.message.network_country_code</key>
			<string>GB</string>
			<key>com.apple.message.noise</key>
			<string>0</string>
			<key>com.apple.message.oui</key>
			<string>bc:30:d9</string>
			<key>com.apple.message.passpoint</key>
			<string>No</string>
			<key>com.apple.message.phy_mode</key>
			<string>11ac</string>
			<key>com.apple.message.rssi</key>
			<string>-52</string>
			<key>com.apple.message.security_type</key>
			<string>WPA2Personal</string>
			<key>com.apple.message.snr</key>
			<string>-52</string>
			<key>com.apple.message.supports_cck_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_ht20</key>
			<string>Yes</string>
			<key>com.apple.message.supports_ht40</key>
			<string>No</string>
			<key>com.apple.message.supports_ht_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_ofdm_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_vht_rates</key>
			<string>Yes</string>
			<key>com.apple.message.supports_wep</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa2_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa2_personal</key>
			<string>Yes</string>
			<key>com.apple.message.supports_wpa_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa_personal</key>
			<string>No</string>
			<key>com.apple.message.swap</key>
			<string>No</string>
			<key>com.apple.message.wake_context</key>
			<string>FullWake</string>
		</dict>
		<dict>
			<key>com.apple.message.adopted_country_code</key>
			<string>None</string>
			<key>com.apple.message.airport</key>
			<string>No</string>
			<key>com.apple.message.autojoin</key>
			<string>Yes</string>
			<key>com.apple.message.beacon_interval</key>
			<string>100</string>
			<key>com.apple.message.channel_frequency_band</key>
			<string>5GHz</string>
			<key>com.apple.message.channel_network_count</key>
			<string>4</string>
			<key>com.apple.message.channel_number</key>
			<string>44</string>
			<key>com.apple.message.channel_width</key>
			<string>80MHz</string>
			<key>com.apple.message.domain</key>
			<string>com.apple.wifi.association</string>
			<key>com.apple.message.duration</key>
			<string>0</string>
			<key>com.apple.message.error</key>
			<string>No Error</string>
			<key>com.apple.message.ht40_intolerant</key>
			<string>No</string>
			<key>com.apple.message.ibss</key>
			<string>No</string>
			<key>com.apple.message.ios_personal_hotspot</key>
			<string>No</string>
			<key>com.apple.message.network_country_code</key>
			<string>GB</string>
			<key>com.apple.message.noise</key>
			<string>0</string>
			<key>com.apple.message.oui</key>
			<string>bc:30:d9</string>
			<key>com.apple.message.passpoint</key>
			<string>No</string>
			<key>com.apple.message.phy_mode</key>
			<string>11ac</string>
			<key>com.apple.message.rssi</key>
			<string>-57</string>
			<key>com.apple.message.security_type</key>
			<string>WPA2Personal</string>
			<key>com.apple.message.snr</key>
			<string>-57</string>
			<key>com.apple.message.supports_cck_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_ht20</key>
			<string>Yes</string>
			<key>com.apple.message.supports_ht40</key>
			<string>Yes</string>
			<key>com.apple.message.supports_ht_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_ofdm_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_vht_rates</key>
			<string>Yes</string>
			<key>com.apple.message.supports_wep</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa2_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa2_personal</key>
			<string>Yes</string>
			<key>com.apple.message.supports_wpa_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa_personal</key>
			<string>No</string>
			<key>com.apple.message.swap</key>
			<string>No</string>
			<key>com.apple.message.wake_context</key>
			<string>FullWake</string>
		</dict>
		<dict>
			<key>com.apple.message.adopted_country_code</key>
			<string>None</string>
			<key>com.apple.message.airport</key>
			<string>No</string>
			<key>com.apple.message.autojoin</key>
			<string>Yes</string>
			<key>com.apple.message.beacon_interval</key>
			<string>100</string>
			<key>com.apple.message.channel_frequency_band</key>
			<string>5GHz</string>
			<key>com.apple.message.channel_network_count</key>
			<string>3</string>
			<key>com.apple.message.channel_number</key>
			<string>44</string>
			<key>com.apple.message.channel_width</key>
			<string>80MHz</string>
			<key>com.apple.message.domain</key>
			<string>com.apple.wifi.association</string>
			<key>com.apple.message.duration</key>
			<string>0</string>
			<key>com.apple.message.error</key>
			<string>No Error</string>
			<key>com.apple.message.ht40_intolerant</key>
			<string>No</string>
			<key>com.apple.message.ibss</key>
			<string>No</string>
			<key>com.apple.message.ios_personal_hotspot</key>
			<string>No</string>
			<key>com.apple.message.network_country_code</key>
			<string>GB</string>
			<key>com.apple.message.noise</key>
			<string>0</string>
			<key>com.apple.message.oui</key>
			<string>bc:30:d9</string>
			<key>com.apple.message.passpoint</key>
			<string>No</string>
			<key>com.apple.message.phy_mode</key>
			<string>11ac</string>
			<key>com.apple.message.rssi</key>
			<string>-53</string>
			<key>com.apple.message.security_type</key>
			<string>WPA2Personal</string>
			<key>com.apple.message.snr</key>
			<string>-53</string>
			<key>com.apple.message.supports_cck_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_ht20</key>
			<string>Yes</string>
			<key>com.apple.message.supports_ht40</key>
			<string>Yes</string>
			<key>com.apple.message.supports_ht_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_ofdm_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_vht_rates</key>
			<string>Yes</string>
			<key>com.apple.message.supports_wep</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa2_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa2_personal</key>
			<string>Yes</string>
			<key>com.apple.message.supports_wpa_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa_personal</key>
			<string>No</string>
			<key>com.apple.message.swap</key>
			<string>No</string>
			<key>com.apple.message.wake_context</key>
			<string>FullWake</string>
		</dict>
		<dict>
			<key>com.apple.message.adopted_country_code</key>
			<string>None</string>
			<key>com.apple.message.airport</key>
			<string>No</string>
			<key>com.apple.message.autojoin</key>
			<string>Yes</string>
			<key>com.apple.message.beacon_interval</key>
			<string>100</string>
			<key>com.apple.message.channel_frequency_band</key>
			<string>5GHz</string>
			<key>com.apple.message.channel_network_count</key>
			<string>6</string>
			<key>com.apple.message.channel_number</key>
			<string>44</string>
			<key>com.apple.message.channel_width</key>
			<string>80MHz</string>
			<key>com.apple.message.domain</key>
			<string>com.apple.wifi.association</string>
			<key>com.apple.message.duration</key>
			<string>2</string>
			<key>com.apple.message.error</key>
			<string>No Error</string>
			<key>com.apple.message.ht40_intolerant</key>
			<string>No</string>
			<key>com.apple.message.ibss</key>
			<string>No</string>
			<key>com.apple.message.ios_personal_hotspot</key>
			<string>No</string>
			<key>com.apple.message.network_country_code</key>
			<string>GB</string>
			<key>com.apple.message.noise</key>
			<string>0</string>
			<key>com.apple.message.oui</key>
			<string>bc:30:d9</string>
			<key>com.apple.message.passpoint</key>
			<string>No</string>
			<key>com.apple.message.phy_mode</key>
			<string>11ac</string>
			<key>com.apple.message.rssi</key>
			<string>-53</string>
			<key>com.apple.message.security_type</key>
			<string>WPA2Personal</string>
			<key>com.apple.message.snr</key>
			<string>-53</string>
			<key>com.apple.message.supports_cck_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_ht20</key>
			<string>Yes</string>
			<key>com.apple.message.supports_ht40</key>
			<string>Yes</string>
			<key>com.apple.message.supports_ht_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_ofdm_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_vht_rates</key>
			<string>Yes</string>
			<key>com.apple.message.supports_wep</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa2_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa2_personal</key>
			<string>Yes</string>
			<key>com.apple.message.supports_wpa3_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa3_personal</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa_personal</key>
			<string>No</string>
			<key>com.apple.message.swap</key>
			<string>No</string>
			<key>com.apple.message.wake_context</key>
			<string>FullWake</string>
		</dict>
	</array>
</dict>
</plist>
