<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Counter</key>
	<integer>4</integer>
	<key>DeviceUUID</key>
	<string>D5962F60-866F-4FBA-B9F4-A12CB8A6DE52</string>
	<key>KnownNetworks</key>
	<dict>
		<key>wifi.ssid.4254487562362d4a323335</key>
		<dict>
			<key>AddedBy</key>
			<integer>2</integer>
			<key>BSSIDList</key>
			<array>
				<dict>
					<key>LEAKY_AP_BSSID</key>
					<string>bc:30:d9:2d:50:8a</string>
					<key>LEAKY_AP_LEARNED_DATA</key>
					<data>
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAABAAAA
					</data>
				</dict>
			</array>
			<key>Captive</key>
			<false/>
			<key>CaptiveBypass</key>
			<false/>
			<key>ChannelHistory</key>
			<array>
				<dict>
					<key>Channel</key>
					<integer>44</integer>
					<key>Timestamp</key>
					<date>2020-06-11T12:52:24Z</date>
				</dict>
			</array>
			<key>CollocatedGroup</key>
			<array/>
			<key>Disabled</key>
			<false/>
			<key>HiddenNetwork</key>
			<false/>
			<key>LastAutoJoinAt</key>
			<date>2020-06-11T12:52:22Z</date>
			<key>NetworkWasCaptive</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PersonalHotspot</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>RoamingProfileType</key>
			<string>Dual</string>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			QlRIdWI2LUoyMzU=
			</data>
			<key>SSIDString</key>
			<string>BTHub6-J235</string>
			<key>SecurityType</key>
			<string>WPA2/WPA3 Personal</string>
			<key>ShareMode</key>
			<integer>3</integer>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
			<key>UserRole</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>PreferredOrder</key>
	<array>
		<string>wifi.ssid.4254487562362d4a323335</string>
	</array>
	<key>UpdateHistory</key>
	<array>
		<dict>
			<key>Previous</key>
			<dict/>
			<key>Timestamp</key>
			<date>2020-06-10T22:38:50Z</date>
		</dict>
		<dict>
			<key>Previous</key>
			<dict>
				<key>KnownNetworks</key>
				<dict>
					<key>wifi.ssid.&lt;42544875 62362d4a 323335&gt;</key>
					<dict>
						<key>AutoLogin</key>
						<false/>
						<key>BSSIDList</key>
						<array>
							<dict>
								<key>LEAKY_AP_BSSID</key>
								<string>bc:30:d9:2d:50:8a</string>
								<key>LEAKY_AP_LEARNED_DATA</key>
								<data>
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AQAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAABAAAA
								</data>
							</dict>
						</array>
						<key>Captive</key>
						<false/>
						<key>ChannelHistory</key>
						<array>
							<dict>
								<key>Channel</key>
								<integer>44</integer>
								<key>Timestamp</key>
								<date>2020-06-11T12:20:25Z</date>
							</dict>
						</array>
						<key>Closed</key>
						<false/>
						<key>CollocatedGroup</key>
						<array/>
						<key>Disabled</key>
						<false/>
						<key>LastConnected</key>
						<date>2020-06-11T12:20:25Z</date>
						<key>Passpoint</key>
						<false/>
						<key>PersonalHotspot</key>
						<false/>
						<key>PossiblyHiddenNetwork</key>
						<false/>
						<key>RoamingProfileType</key>
						<string>Dual</string>
						<key>SPRoaming</key>
						<false/>
						<key>SSID</key>
						<data>
						QlRIdWI2LUoyMzU=
						</data>
						<key>SSIDString</key>
						<string>BTHub6-J235</string>
						<key>SecurityType</key>
						<string>WPA2 Personal</string>
						<key>SystemMode</key>
						<true/>
						<key>TemporarilyDisabled</key>
						<false/>
					</dict>
				</dict>
				<key>PreferredOrder</key>
				<array>
					<string>wifi.ssid.&lt;42544875 62362d4a 323335&gt;</string>
				</array>
				<key>Version</key>
				<integer>2200</integer>
			</dict>
			<key>Timestamp</key>
			<date>2020-06-11T12:51:38Z</date>
		</dict>
	</array>
	<key>Version</key>
	<integer>2600</integer>
</dict>
</plist>
