<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentSet</key>
	<string>/Sets/74BB065C-0791-43AD-8B70-A02F425184F8</string>
	<key>Model</key>
	<string>MacBookPro13,3</string>
	<key>NetworkServices</key>
	<dict>
		<key>25C9434C-2C79-4064-B377-2C361089D186</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>bridge0</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Thunderbolt Bridge</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Thunderbolt Bridge 2</string>
		</dict>
		<key>325B1BDA-F0AF-4735-8E39-72A9B6A2122F</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>lpss-serial1</string>
				<key>Hardware</key>
				<string>Modem</string>
				<key>SubType</key>
				<string>PPPSerial</string>
				<key>Type</key>
				<string>PPP</string>
				<key>UserDefinedName</key>
				<string>LPSS Serial Adapter (1)</string>
			</dict>
			<key>Modem</key>
			<dict>
				<key>ConnectionPersonality</key>
				<string>Default Personality</string>
				<key>ConnectionScript</key>
				<string>/Library/Modem Scripts/Generic Dialup.ccl</string>
				<key>DataCompression</key>
				<integer>1</integer>
				<key>DeviceModel</key>
				<string>Dialup Device</string>
				<key>DeviceVendor</key>
				<string>Generic</string>
				<key>DialMode</key>
				<string>WaitForDialTone</string>
				<key>ErrorCorrection</key>
				<integer>1</integer>
				<key>HoldCallWaitingAudibleAlert</key>
				<integer>1</integer>
				<key>HoldDisconnectOnAnswer</key>
				<integer>0</integer>
				<key>HoldEnabled</key>
				<integer>0</integer>
				<key>HoldReminder</key>
				<integer>1</integer>
				<key>HoldReminderTime</key>
				<integer>10</integer>
				<key>PulseDial</key>
				<integer>0</integer>
				<key>Speaker</key>
				<integer>1</integer>
			</dict>
			<key>PPP</key>
			<dict>
				<key>ACSPEnabled</key>
				<integer>0</integer>
				<key>CommDisplayTerminalWindow</key>
				<integer>0</integer>
				<key>CommRedialCount</key>
				<integer>1</integer>
				<key>CommRedialEnabled</key>
				<integer>1</integer>
				<key>CommRedialInterval</key>
				<integer>5</integer>
				<key>CommUseTerminalScript</key>
				<integer>0</integer>
				<key>DialOnDemand</key>
				<integer>0</integer>
				<key>DisconnectOnFastUserSwitch</key>
				<integer>1</integer>
				<key>DisconnectOnIdle</key>
				<integer>1</integer>
				<key>DisconnectOnIdleTimer</key>
				<integer>600</integer>
				<key>DisconnectOnLogout</key>
				<integer>1</integer>
				<key>DisconnectOnSleep</key>
				<integer>1</integer>
				<key>IPCPCompressionVJ</key>
				<integer>1</integer>
				<key>IdleReminder</key>
				<integer>0</integer>
				<key>IdleReminderTimer</key>
				<integer>1800</integer>
				<key>LCPEchoEnabled</key>
				<integer>1</integer>
				<key>LCPEchoFailure</key>
				<integer>4</integer>
				<key>LCPEchoInterval</key>
				<integer>10</integer>
				<key>Logfile</key>
				<string>/var/log/ppp.log</string>
				<key>VerboseLogging</key>
				<integer>0</integer>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>LPSS Serial Adapter (1)</string>
		</dict>
		<key>3DD24529-D887-4FEE-8DBC-D91C7526536B</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en0</string>
				<key>Hardware</key>
				<string>AirPort</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Wi-Fi</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Wi-Fi</string>
		</dict>
		<key>7DE767B2-70FB-4471-B1C9-540ECB4B463B</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en5</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Bluetooth PAN</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Bluetooth PAN</string>
		</dict>
		<key>D68BACC5-8FE9-4469-9B4C-BF153174974A</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>lpss-serial2</string>
				<key>Hardware</key>
				<string>Modem</string>
				<key>SubType</key>
				<string>PPPSerial</string>
				<key>Type</key>
				<string>PPP</string>
				<key>UserDefinedName</key>
				<string>LPSS Serial Adapter (2)</string>
			</dict>
			<key>Modem</key>
			<dict>
				<key>ConnectionPersonality</key>
				<string>Default Personality</string>
				<key>ConnectionScript</key>
				<string>/Library/Modem Scripts/Generic Dialup.ccl</string>
				<key>DataCompression</key>
				<integer>1</integer>
				<key>DeviceModel</key>
				<string>Dialup Device</string>
				<key>DeviceVendor</key>
				<string>Generic</string>
				<key>DialMode</key>
				<string>WaitForDialTone</string>
				<key>ErrorCorrection</key>
				<integer>1</integer>
				<key>HoldCallWaitingAudibleAlert</key>
				<integer>1</integer>
				<key>HoldDisconnectOnAnswer</key>
				<integer>0</integer>
				<key>HoldEnabled</key>
				<integer>0</integer>
				<key>HoldReminder</key>
				<integer>1</integer>
				<key>HoldReminderTime</key>
				<integer>10</integer>
				<key>PulseDial</key>
				<integer>0</integer>
				<key>Speaker</key>
				<integer>1</integer>
			</dict>
			<key>PPP</key>
			<dict>
				<key>ACSPEnabled</key>
				<integer>0</integer>
				<key>CommDisplayTerminalWindow</key>
				<integer>0</integer>
				<key>CommRedialCount</key>
				<integer>1</integer>
				<key>CommRedialEnabled</key>
				<integer>1</integer>
				<key>CommRedialInterval</key>
				<integer>5</integer>
				<key>CommUseTerminalScript</key>
				<integer>0</integer>
				<key>DialOnDemand</key>
				<integer>0</integer>
				<key>DisconnectOnFastUserSwitch</key>
				<integer>1</integer>
				<key>DisconnectOnIdle</key>
				<integer>1</integer>
				<key>DisconnectOnIdleTimer</key>
				<integer>600</integer>
				<key>DisconnectOnLogout</key>
				<integer>1</integer>
				<key>DisconnectOnSleep</key>
				<integer>1</integer>
				<key>IPCPCompressionVJ</key>
				<integer>1</integer>
				<key>IdleReminder</key>
				<integer>0</integer>
				<key>IdleReminderTimer</key>
				<integer>1800</integer>
				<key>LCPEchoEnabled</key>
				<integer>1</integer>
				<key>LCPEchoFailure</key>
				<integer>4</integer>
				<key>LCPEchoInterval</key>
				<integer>10</integer>
				<key>Logfile</key>
				<string>/var/log/ppp.log</string>
				<key>VerboseLogging</key>
				<integer>0</integer>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>LPSS Serial Adapter (2)</string>
		</dict>
		<key>F8C6E4B9-4AD4-4996-A255-70FB2912E163</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>bridge0</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Thunderbolt Bridge</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Thunderbolt Bridge</string>
		</dict>
	</dict>
	<key>Sets</key>
	<dict>
		<key>74BB065C-0791-43AD-8B70-A02F425184F8</key>
		<dict>
			<key>Network</key>
			<dict>
				<key>Global</key>
				<dict>
					<key>IPv4</key>
					<dict>
						<key>ServiceOrder</key>
						<array>
							<string>325B1BDA-F0AF-4735-8E39-72A9B6A2122F</string>
							<string>D68BACC5-8FE9-4469-9B4C-BF153174974A</string>
							<string>3DD24529-D887-4FEE-8DBC-D91C7526536B</string>
							<string>7DE767B2-70FB-4471-B1C9-540ECB4B463B</string>
							<string>F8C6E4B9-4AD4-4996-A255-70FB2912E163</string>
							<string>25C9434C-2C79-4064-B377-2C361089D186</string>
						</array>
					</dict>
				</dict>
				<key>Interface</key>
				<dict>
					<key>en0</key>
					<dict>
						<key>AirPort</key>
						<dict>
							<key>JoinModeFallback</key>
							<array>
								<string>DoNothing</string>
							</array>
							<key>PowerEnabled</key>
							<true/>
							<key>RememberJoinedNetworks</key>
							<true/>
							<key>Version</key>
							<integer>2600</integer>
						</dict>
					</dict>
				</dict>
				<key>Service</key>
				<dict>
					<key>25C9434C-2C79-4064-B377-2C361089D186</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/25C9434C-2C79-4064-B377-2C361089D186</string>
					</dict>
					<key>325B1BDA-F0AF-4735-8E39-72A9B6A2122F</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/325B1BDA-F0AF-4735-8E39-72A9B6A2122F</string>
					</dict>
					<key>3DD24529-D887-4FEE-8DBC-D91C7526536B</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/3DD24529-D887-4FEE-8DBC-D91C7526536B</string>
					</dict>
					<key>7DE767B2-70FB-4471-B1C9-540ECB4B463B</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/7DE767B2-70FB-4471-B1C9-540ECB4B463B</string>
					</dict>
					<key>D68BACC5-8FE9-4469-9B4C-BF153174974A</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/D68BACC5-8FE9-4469-9B4C-BF153174974A</string>
					</dict>
					<key>F8C6E4B9-4AD4-4996-A255-70FB2912E163</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/F8C6E4B9-4AD4-4996-A255-70FB2912E163</string>
					</dict>
				</dict>
			</dict>
			<key>UserDefinedName</key>
			<string>Automatic</string>
		</dict>
	</dict>
	<key>System</key>
	<dict>
		<key>Network</key>
		<dict>
			<key>HostNames</key>
			<dict>
				<key>LocalHostName</key>
				<string>pile-of-bones</string>
			</dict>
		</dict>
		<key>System</key>
		<dict>
			<key>ComputerName</key>
			<string>pile_of_bones</string>
			<key>ComputerNameEncoding</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>VirtualNetworkInterfaces</key>
	<dict>
		<key>Bridge</key>
		<dict>
			<key>bridge0</key>
			<dict>
				<key>Interfaces</key>
				<array>
					<string>en1</string>
					<string>en2</string>
					<string>en3</string>
					<string>en4</string>
					<string>en7</string>
					<string>en8</string>
					<string>en9</string>
					<string>en10</string>
				</array>
				<key>Options</key>
				<dict>
					<key>__AUTO__</key>
					<string>thunderbolt-bridge</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>__VERSION__</key>
	<integer>20191120</integer>
</dict>
</plist>
